.Cart {
  &__button {
    padding: 1rem 2rem 1rem 3rem;
    font-family: $body-font;
    font-weight: 500;
    font-size: 1.6rem;
    color: $color-white;
    background-color: $color-primary;
    border: none;
    outline: none;
    cursor: pointer;

    & span:not(:last-child) {
      margin-right: 1rem;
    }

    &-icon {
      position: relative;
      
      &-cart {
        position: absolute;
        top: .3rem;
        left: -1.5rem;
      }

    }
  }
}
